@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    color: var(--Color-Normal);
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #161616;
}

::-webkit-scrollbar-thumb {
    background-color: #FEBF89;
    width: 5px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FEBF89;
}

:root{
    --Color-main: #FEBF89;
    --Color-Background : #050505;
    --Color-Paragraph : #C9C9C9;
    --Color-Normal : #fff;
    --Color-button: #000;
}

body{
    background-color: #050505;
    width: 100%;
    overflow-x: hidden;
}

